<!DOCTYPE html>
<html>
<head>
  <title>SpecScoreRegistry</title>
  <%= stylesheet_link_tag    "spec_score_registry/application", media: "all" %>
  <%= javascript_include_tag "spec_score_registry/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
